#whatisgpt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 150px;
}

.whatisgpt-container {
    display: flex;
    flex-direction: column;
    width: 1560px;
    max-width: 90%;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #042C54;
    margin-top: 150px;
    padding: 100px;
}

.container1-whatisgpt {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title1-whatisgpt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.title1-whatisgpt span {
    height: 3px;
    width: 50px;
    background: linear-gradient(45deg, rgb(174, 103, 250), rgb(244, 152, 103));
}

.title1-whatisgpt h2 {
    font-weight: 600;
    font-size: 24px;
}

.description1 {
    width: 70%;
}

.description1 p {
    color: #81AFDD;
    font-weight: 300;
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
}

.left2 {
    width: 40%;
}

.left2 h3 {
    font-size: 35px;
    font-weight: 600;
    background-image: linear-gradient(45deg, rgb(174, 103, 250), rgb(244, 152, 103));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container2 a {
    text-decoration: none;
    color: #FF8A71;
    height: fit-content;
    transition: 0.3s;
}

.container2 a:hover {
    transform: scale(1.075);
}

.container3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.sub-container span {
    height: 3px;
    width: 50px;
    background: linear-gradient(45deg, rgb(174, 103, 250), rgb(244, 152, 103));
}

.sub-container h4 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 5px;
}

.sub-container p {
    color: #81AFDD;
    font-weight: 300;
    margin-top: 50px;
}

@media (max-width: 1560px) {

    .left2 {
        width: 50%;
    }

}

@media (max-width: 900px) {

    #whatisgpt {
        padding-top: 0;
    }

    .companies {
        display: none;
    }

    .bigcard {
        padding: 50px 30px;
        gap: 50px;
    }

    .container1-whatisgpt, .container2, .container3 {
        flex-direction: column;
    }

    .title1-whatisgpt, .description1, .left2, .sub-container {
        width: 100%;
    }

    .container2 {
        padding: 0;
        margin: 0 !important;
        align-items: start !important;
        text-align: start;
    }

    .container2 a {
        padding-top: 15px;
    }

    .container3 {
        padding-top: 0;
        gap: 50px;
    }

    .sub-container p {
        margin-top: 0;
    }

}