#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.circulo1 {
    height: 450px;
    width: 450px;
    border-radius: 450px;
    background-color: #063b74;
    filter: blur(200px);
    position: absolute;
    left: -225px;
    top: 300px;
    z-index: -1;
}

.circulo2 {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background-color: white;
    filter: blur(300px);
    position: absolute;
    right: -125px;
    top: 900px;
    z-index: -1;
}

.circulo3 {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background-color: white;
    filter: blur(300px);
    position: absolute;
    left: -125px;
    top: 2400px;
    z-index: -1;
}

.circulo4 {
    height: 450px;
    width: 450px;
    border-radius: 450px;
    background-color: #063b74;
    filter: blur(200px);
    position: absolute;
    right: -225px;
    top: 3300px;
    z-index: -1;
}

.circulo5 {
    height: 450px;
    width: 450px;
    border-radius: 450px;
    background-color: #063b74;
    filter: blur(200px);
    position: absolute;
    left: -225px;
    top: 4800px;
    z-index: -1;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1560px;
    max-width: 90%;
}

.texts-home {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.texts-home h1 {
    font-size: 62px;
    font-weight: 600;
    background-image: linear-gradient(45deg, rgb(174, 103, 250), rgb(244, 152, 103));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.texts-home p {
    font-weight: 300;
    color: #81AFDD;
    padding-right: 150px;
}

.texts-home form {
    margin: 20px 0;
    width: 100%;
}

.texts-home form input {
    padding: 15px 20px;
    color: white;
    background-color: #052D56;
    border: none;
    outline: none;
    font-size: 16px;
    width: 50%;
    border-radius: 5px 0 0 5px;
}

.texts-home form input::placeholder {
    color: #3D6184;
    font-weight: 400;
}

.texts-home form button {
    padding: 15px 0;
    width: 30%;
    background-color: #FF4820;
    border: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.texts-home form button:hover {
    background-color: #c43819;
}

.img-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.users-home {
    display: flex;
    align-items: center;
    gap: 15px;
}

.users-home p {
    color: white;
    font-size: 12px;
}

@media (max-width: 1300px) {

    .texts-home h1 {
        font-size: 40px;
    }

    .texts-home p {
        padding-right: 0;
    }

    .texts-home form input {
        width: 70%;
    }

    .img-home img {
        width: 500px;
    }

}

@media (max-width: 900px) {
    
    .circulo1, .circulo2, .circulo3, .circulo4, .circulo5 {
        display: none;
    }

    #home {
        padding-top: 150px;
        height: auto;
    }

    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .texts-home {
        width: 100%;
    }

    .users-home {
        width: 100%;
    }

    .img-home {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img-home img {
        width: 100%;
    }

}